.img-fluid {
    border-radius: 2px;
}
body{
    background-image: url("../images/library-background-xkh9vqzcdoxcs7v7.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
  background-position: center;
  background-size: 100% 100%;
  
}
.btn-primary{
    color:blueviolet;
    
}
.card-title{
    color: blueviolet !important;
}